# Python
__pycache__/
*.pyc

# Virtual environments
venv/
backend/venv/

# environment
.env

# database
*.sqlite3
chroma_db/

#Claude
.claude/*

#Vscode
.vscode/*

# node
node_modules/
# Temporary output files
pytest_err*.txt
pytest_out*.txt
pytest_debug*.txt
text_out*.txt
test_diagnostics*.txt
test_res_utf8*.txt
est_results*.txt
verification_out*.txt
code_files.txt
remove-files.txt
